main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 64px 24px 36px 24px;
  overflow: hidden;

  @media (orientation: portrait) {
    justify-content: space-around;
  }

  .headings-container {
    width: 100%;

    h1,
    h2 {
      text-align: center;
    }

    @media (orientation: portrait) {
      h1 {
        margin-bottom: 24px;
      }
    }
  }

  .event-form {
    display: flex;
    flex-direction: column;
    gap: 49px;

    mat-form-field {
      width: 278px;
    }

    @media (orientation: landscape) {
      flex-direction: row;
      gap: 24px;
      margin-top: 24px;
    }
  }
}
