<main class="main">
  <div class="headings-container">
    <h1 appFitText class="color-primary">Time to Midsummer Eve</h1>
    <h2 appFitText>20 days, 3 h, 15m, 10s</h2>
  </div>

  <form class="event-form">
    <mat-form-field subscriptSizing="dynamic">
      <mat-label>Title</mat-label>
      <input matInput placeholder="Midsummer eve">
    </mat-form-field>

    <mat-form-field subscriptSizing="dynamic">
      <mat-label>Date</mat-label>
      <input matInput placeholder="2025-06-06">
    </mat-form-field>
  </form>
</main>

<router-outlet />
