/* -------------------------------- */
/*              Fonts               */
/* -------------------------------- */

@font-face {
  font-family: 'Open Sauce One';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/open-sauce-one@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/open-sauce-one@latest/latin-400-normal.woff) format('woff');
}

@font-face {
  font-family: 'Open Sauce One';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/open-sauce-one@latest/latin-800-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/open-sauce-one@latest/latin-800-normal.woff) format('woff');
}

/* -------------------------------- */
/*            Base setup            */
/* -------------------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* -------------------------------- */
/*              Reset               */
/* -------------------------------- */

body {
  margin: 0;
}

h1, h2 {
  margin: 0;
  font-weight: inherit;
}

/* -------------------------------- */
/*          Global styling          */
/* -------------------------------- */

body {
  font-family: Open Sauce One;
  font-weight: 400;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

/* -------------------------------- */
/*          Global classes          */
/* -------------------------------- */

.font-800 {
  font-weight: 800;
  letter-spacing: -0.02em;
}
