@import '@fontsource/open-sauce-one/400.css';
@import '@fontsource/open-sauce-one/800.css';

/* -------------------------------- */
/*            Base setup            */
/* -------------------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* -------------------------------- */
/*              Reset               */
/* -------------------------------- */

body {
  margin: 0;
}

/* Reset margins */
h1,
h2 {
  margin: 0;
  font-weight: inherit;
}

/* Make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* -------------------------------- */
/*          Global styling          */
/* -------------------------------- */

body {
  font-family: 'Open Sauce One', sans-serif;
}

/* -------------------------------- */
/*          Global classes          */
/* -------------------------------- */

.font-800 {
  font-weight: 800;
  letter-spacing: -0.02em;
}
