@import './angular-material-theme.scss';

/* -------------------------------- */
/*              Fonts               */
/* -------------------------------- */

@import '@fontsource/open-sauce-one/400.css';
@import '@fontsource/open-sauce-one/800.css';

/* -------------------------------- */
/*            Base setup            */
/* -------------------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* -------------------------------- */
/*              Reset               */
/* -------------------------------- */

html,
body {
  height: 100%;
  margin: 0;
}

/* Reset margins */
h1,
h2 {
  margin: 0 !important;
}

/* Make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* -------------------------------- */
/*          Global styling          */
/* -------------------------------- */

body {
  font-family: 'Open Sauce One', sans-serif;
  background: #f5f3f3;
}

/* -------------------------------- */
/*          Global classes          */
/* -------------------------------- */

.color-primary {
  color: #72035d;
}
